.system {
  width: 70%;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
.system-table {
  margin-bottom: 30px;
}
.close-system {
  margin-right: 50px;
}
.open-system {
  margin-right: 50px;
}
