.rule-insert {
  width: 70%;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
.id-input {
  margin-bottom: 30px;
  font-size: 16px;
}
.rule-infor {
  vertical-align: top;
  font-size: 16px;
}
.rule-importance {
  margin-top: 30px;
  font-size: 16px;
}
textarea.ant-input {
  vertical-align: top;
}
.rule-table {
  margin-top: 100px;
  margin-bottom: 20px;
}
.save-button {
  width: 100px;
  margin: auto;
  margin-top: 30px;
}
.unable-link {
  color: #D3D3D3;
}