.rule-insert {
  width: 70%;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
.id-input {
  margin-bottom: 30px;
}
.rule-infor {
  vertical-align: top;
}
textarea.ant-input {
  vertical-align: top;
}
.rule-table {
  margin-top: 50px;
  margin-bottom: 20px;
}
.save-button {
  width: 100px;
  margin: auto;
  margin-top: 30px;
}