.shelf-insert {
  display: inline-block;
  width: 70%;
  margin-left: 50px;
  margin-top: 50px;
}
.steps-action {
  margin-top: 50px;
}
.my-table {
  margin-top: 50px;
}
.uneditable-link {
  color: 	#778899
}