.on {
  margin-top: 50px;
  margin-left: 50px;
  width: 70%;
  display: inline-block;
}
.dev-query {
  width: 20%;
  display: inline-block;
}
.shelf-query {
  width: 20%;
  display: inline-block;
  margin-left: 100px;
}
.category-query {
  width: 20%;
  display: inline-block;
  margin-left: 100px;
}
.unit-table{
  margin-top: 50px;
}
